@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.canvas {
  width: 50vw;
  height: 50vh;
  margin: auto;
}

.title {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  margin-top: 10vh;
  margin-bottom: 5vh;
}